<app-listado
  [colleccionElementos]="elementos"
  (deleteEmitter)="handleSelectElementToDelete($event)"
  (modifyEmitter)="handleSelectElementToModify($event)"
  (viewEmitter)="handleSelectElementToView($event)"
></app-listado>
<div class="container">
  <div class="row">
    <app-borrar
      [inputElementToDelete]="elementToDelete"
      (outputDeletedElement)="getUpdatedCollection()"
      class="col-md"
    ></app-borrar>
    <app-detalle
      [inputElementToView]="elementToView"
      class="col-md"
    ></app-detalle>
    <app-modificar
      [inputElementToModify]="elementToModify"
      (outputModifiedElement)="getUpdatedCollection()"
      class="col-md"
    ></app-modificar>
  </div>
</div>
